.historyContent {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    margin: 72px auto;
}

/*
.pullQuote {
	font-size: 1.4rem;
	font-style: italic;
	margin: 20px 0;
	padding: 10px 20px;
	border-left: 4px solid #ccc;
  }
*/