.home-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #26272c;
    padding: 20px 0px;
}

.home-grid {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    gap: 20px;
    max-width: 1512px; 
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.home-grid-element {
    background-color: #333437; 
    padding: 20px; 
}

.home-grid-element h2 {
    margin-bottom: 10px;
    font-size: 2.0rem;
    font-weight: 500;
}

.home-grid-element p {
    font-size: 1.0rem;
    line-height: 2.0;
    font-weight: 400;
}