.home-grid-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 1440px; 
    margin: 0 auto;
    width: 100%;
    color: #fff;
}

.home-grid-element-var2 {
    padding: 20px; 
    background-color: #2f3034;
}

.home-grid-element-var1 {
    padding: 20px; 
    background-color: #27282b;
}

.home-grid h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 500;
}

.home-grid p {
    font-size: 1.0rem;
    line-height: 2.0;
    font-weight: 400;
}