.footer {
  background-color: #26272c;
  color: var(--text-off-white);
  width: 100%;
  padding-top: 100px;
}

.container {
  max-width: 1512px;
  margin: 0 auto;
  padding: 20px 20px;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.left {
  flex: 1;
}

.right {
  flex: 2;
}

.logo {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
}

.logoImage {
  height: 250px;
  width: 200px;
  background-image: url('/src/assets/images/full-logo-white.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.address,
.phone,
.mailing,
.socials {
  margin-bottom: 12px;
  font-weight: 400;
  line-height: 1.2rem;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.phmcLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.phmcLogoImage {
  height: 75px;
  width: 75px;
  background-image: url('/src/assets/images/phmc-logo-75.gif');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.phmcLogoText {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 400;
  font-family: 'adobe-garamond-pro';
  text-align: left;
}

.rightTitle {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightTitle .button {
  width: 250px;
}

.rightLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  margin-bottom: 40px;
}

.sublinks {
  margin-top: 10px;
}

.sublink {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
  text-decoration: none;
  color: #d1d1d1;
  margin-bottom: 10px;
}

.sublink:hover {
  opacity: 0.8;
}

.link {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  color: var(--text-off-white);
}

.link:hover {
  opacity: 0.8;
}

.link,
.link:before,
.link:after {
  transition: all 0.15s ease;
}

.ack {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  text-align: center;
}

.ackElement {
  height: 100%;
  flex: 1;
  display: flex;
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background: #d1d1d1;
  margin: 20px auto;
}

.bottom {
  text-align: center;
  margin-top: 20px;
}

.copyright {
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #d1d1d1;
}

.copyright .quadra {
  font-weight: 700;
  background: linear-gradient(to right, #ff84be, #ffc6bf);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 1200px) {
  .footer {
    padding-top: 50px;
  }

  .container {
    padding: 20px 10px;
  }

  .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }

  .logoImage {
    height: 200px;
    width: 150px;
  }

  .address,
  .phone,
  .mailing,
  .socials {
    margin-bottom: 12px;
    font-weight: 400;
    line-height: 1.2rem;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  .phmcLogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .phmcLogoImage {
    height: 50px;
    width: 50px;
  }

  .phmcLogoText {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    font-family: 'adobe-garamond-pro';
    text-align: left;
  }

  .rightTitle {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .rightTitle .button {
    width: 200px;
  }

  .rightLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .link {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2rem;
    text-decoration: none;
    margin-bottom: 10px;
  }

  .sublinks {
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .sublink {
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration: none;
    color: #d1d1d1;
    margin-bottom: 10px;
  }

  .sublink:hover {
    opacity: 0.8;
  }

  .ack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;
  }

  .ackElement {
    height: 100%;
    flex: 1;
    display: flex;
  }

  .horizontalLine {
    width: 100%;
    height: 1px;
    background: #d1d1d1;
    margin: 20px auto;
  }

  .bottom {
    text-align: center;
    margin-top: 20px;
  }

  .bottom {
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #d1d1d1;
  }
}