.login-form h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.login-form .button {
    margin-top: 20px;
    min-width: 300px;
    max-width: 400px;
}

.login-form .login-error {
    color: red;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}
