.pictureLinkContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 24px;
  }
  
  @media (max-width: 768px) {
	.pictureLinkContainer {
	  flex-direction: column;
	  gap: 72px;
	}
  
	.pictureLinkContainer.mobile {
	  height: auto;
	}
  }