.welcomeFlexContainer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--dark-secondary);
  /*background: linear-gradient(to bottom, var(--dark-secondary), var(--dark-background));*/
  padding: 20px 0px;
}

.welcomeFlex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 100px;
  max-width: 1512px;
}

.welcomeFlexElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.welcomeFlexElement h2 {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
}

.welcomeFlexElement h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 300;
}

.welcome {
  flex: 2;
}

.welcome .button {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .welcomeFlexContainer {
    height: fit-content;
    padding: 0px;
  }

  .welcomeFlex {
    height: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    margin: 100px 0px;
  }

  .welcome {
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .welcome h2 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .welcome h3 {
    font-size: 1rem;
    line-height: 1.5;
  }

  .welcome .button {
    margin-right: 0px;
  }

  .welcomeFlexElement .animatedArrow {
    display: none;
  }
}