.eventsSection {
	height: calc(100vh - 70px);
	width: 100%;
	background-color: var(--dark-background);
	display: flex;
	justify-content: center;
	align-items: center;
}

.contentContainer {
	width: 1512px;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.sectionTitle {
	font-size: 2.5rem;
	font-weight: 500;
	color: var(--text-off-white);
	text-align: center;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;
}

.seeMore {
	font-size: 1rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 60px;
	color: var(--text-link-grey);
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}

.seeMore:hover {
	color: var(--text-off-white);
}

.eventsContainer {
	height: 100%;
	width: 100%;
	position: relative;
}

.eventCarousel {
	position: unset;
}

.eventCarouselContainer {
	height: 100%;
	max-width: 100%;
}

.eventContainerItem {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.customLeftArrow,
.customRightArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background: none;
	border: none;
	cursor: pointer;
	z-index: 1;
}

.customLeftArrow {
	left: -80px;
}

.customRightArrow {
	right: -80px;
}

@media (max-width: 464px) {

	.customLeftArrow,
	.customRightArrow {
		display: none;
	}
}