.introduction {
	max-width: 1300px;
}

.introductionContent {
	text-align: left;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 0px;
	line-height: 1.4;
}

.dropcap:first-letter {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	float: left;
	font-size: 6rem;
	line-height: 0.65;
	margin: 0.15em 0.1em 0.2em 0;
}