/* SecondaryNavbar.module.css */
.secondaryNavbar {
  background-color: #333437;
  color: var(--text-off-white);
  height: 60px;
  width: 100%;
  z-index: 100;
}

.secondaryNavContainer {
  height: 100%;
  max-width: 1512px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
