.not-found-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-page .text-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: var(--text-off-white);
}

.not-found-page h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.not-found-page h2 {
  font-size: 2rem;
  margin-bottom: 0rem;
}

.not-found-page p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

