.visitPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-background);
}

.contentContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .contentContainer {
    padding: 20px;
  }
}

@media (min-width: 768px) {
  .contentContainer {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .contentContainer {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .contentContainer {
    width: 1140px;
  }
}

@media (min-width: 1512px) {
  .contentContainer {
    width: 1512px;
  }
}

.accessibilitySection {
  margin-bottom: 40px;
}