.pictureLink {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.fullLink {
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.image {
	width: 100%;
	height: 300px;
	object-fit: cover;
	margin-bottom: 12px;
}
