.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.siteMapContainer {
  display: flex;
  background-color: var(--text-off-white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: auto;
  max-width: 1300px;
  height: auto;
  max-height: 100%;
}

.mapArea {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.infoArea {
  width: 400px;
  padding: 20px;
  overflow-y: auto; 
}

.siteMap {
  width: 100%;
  height: 100%;
}

.infoArea h2 {
  margin-bottom: 20px;
  color: var(--text-dark-grey);
}

.infoArea p {
  color: var(--text-dark-grey);
}

.infoArea img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}