.siteMapContainer {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  background-color: var(--text-off-white);
  border-radius: 10px;
  overflow: hidden;
}

.mapArea {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.infoArea {
  height: 100%;
  width: 400px;
  padding: 20px;
  overflow-y: auto; 
}

.defaultMessageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.defaultMessage {
  color: var(--text-dark-grey);
  text-align: center;
}

.siteMap {
  width: 100%;
  height: 100%;
}

.infoArea h2 {
  margin-bottom: 20px;
  color: var(--text-dark-grey);
}

.infoArea p {
  color: var(--text-dark-grey);
  margin-bottom: 20px;
}

.infoArea img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}