.membership-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-background);
  padding: 60px 60px;
}

.membership-section .membership-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.membership-section .left-aligned-title {
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
}

.membership-section .description-content {
  display: flex;
  justify-content: space-between;
  text-align: justify;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 300;
}

.membership-section .text-content {
  flex: 2;
}

.membership-section .right-side-content {
  flex: 1;
}

.membership-section .membership-tiers {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.membership-section .tier {
  flex: 1;
  border: 1px solid var(--light-text);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: var(--light-background);
}

@media (max-width: 768px) {
  .membership-section .tiers {
    flex-direction: column;
  }
}
