.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s;
  }

  .cta-button.orange {
    background-color: var(--orange-accent);
    color: var(--text-off-white);
  }
  
  .cta-button.orange:hover {
    background-color: #a66a30;
  }
  
  .cta-button.transparent {
    background-color: transparent;
    color: var(--text-off-white);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

    .cta-button.transparent:hover {
        background-color: rgba(255, 255, 255, 0.8);
        color: black;
    }