.postContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.features {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

@media (max-width: 767px) {
  .mobilePostContent {
    padding: 20px;
  }

  .mobileFeatures {
    flex-direction: column;
    gap: 20px;
  }
}