.membership-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.button {
    margin: 0 auto;
    height: 50px;
}

.profile-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-off-white);
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.2s;
}

.profile-links a:hover {
    color: var(--text-link-grey);
}
