.animated-arrow {
  display: inline-flex;
  color: var(--text-link-grey);
  font-size: var(--fontSize);
  font-style: italic;
  text-decoration: none;
  position: relative;
  margin-left: 12px;
  transition: all 0.2s;
}

.the-arrow {
  width: var(--shaft-width);
}

.the-arrow.-left {
  position: absolute;
  top: 50%;
  left: 0;
}

.the-arrow.-left .shaft {
  width: 0;
  background-color: var(--text-link-grey);
}

.the-arrow.-right {
  top: 3px;
}

.the-arrow.-right .shaft {
  width: var(--shaft-width);
  transition-delay: 0.15s;
}

.the-arrow .shaft {
  background-color: var(--text-link-grey);
  display: block;
  height: var(--shaft-thickness);
  position: relative;
  transition: all 0.15s;
}

.the-arrow .shaft::before,
.the-arrow .shaft::after {
  background-color: var(--text-link-grey);
  content: "";
  display: block;
  height: var(--arrow-head-thickness);
  position: absolute;
  top: 0;
  right: 0;
}

.the-arrow .shaft::before {
  transform-origin: top right;
}

.the-arrow .shaft::after {
  transform-origin: bottom right;
}

/* Arrow Direction Styles */
.the-arrow.-left .shaft::before,
.the-arrow.-left .shaft::after {
  width: 0;
  transform: rotate(0);
}

.the-arrow.-right .shaft::before {
  width: var(--arrow-head-width);
  height: var(--arrow-head-thickness);
  transform-origin: 100% 50%;
  transform: rotate(40deg);
}

.the-arrow.-right .shaft::after {
  width: var(--arrow-head-width);
  height: var(--arrow-head-thickness);
  transform-origin: 100% 50%;
  transform: rotate(-40deg);
}

.the-arrow.-right .shaft::before,
.the-arrow.-right .shaft::after {
  width: var(--arrow-head-width);
  transition: all 0.3s;
}

/* Animated Arrow Button Effects */
.animated-arrow .arrow-main {
  display: flex;
  align-items: center;
  transition: all 0.15s;
}

.animated-arrow .arrow-main .text {
  margin: 0 var(--text-arrow-space) 0 0;
  line-height: 1;
  display: inline-block;
}

.animated-arrow:hover {
  color: var(--text-off-white);
}

.animated-arrow:hover .the-arrow.-left .shaft {
  width: var(--shaft-width);
  background-color: var(--text-off-white);
}

.animated-arrow:hover .the-arrow.-left .shaft::before,
.animated-arrow:hover .the-arrow.-left .shaft::after {
  width: var(--arrow-head-width);
  transition-delay: 0.1s;
  background-color: var(--text-off-white);
  transform: rotate(40deg);
}

.animated-arrow:hover .the-arrow.-left .shaft::after {
  transform: rotate(-40deg);
}

.animated-arrow:hover .arrow-main {
  transform: translateX(calc(var(--shaft-width) + var(--text-arrow-space)));
}

.animated-arrow:hover .arrow-main .the-arrow.-right .shaft {
  width: 0;
}

.animated-arrow:hover .arrow-main .the-arrow.-right {
  transform: translateX(var(--shaft-width) + var(--text-arrow-space));
}

.animated-arrow:hover .arrow-main .the-arrow.-right .shaft::before,
.animated-arrow:hover .arrow-main .the-arrow.-right .shaft::after {
  width: 0;
  transform: rotate(0);
}
