.animated-arrow {
  --text-arrow-space: 8px;
  --shaft-width: 32px;
  --shaft-thickness: 1px;
  --arrow-head-width: 8px;
  --arrow-head-thickness: var(--shaft-thickness);
  display: inline-flex;
  color: var(--text-link-grey);
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: none;
  position: relative;
  margin-left: 12px;
  transition: all 0.2s;
}

/* The Arrow */
.the-arrow {
  width: var(--shaft-width);
}

.the-arrow.-left {
  position: absolute;
  top: 60%;
  left: 0;
}

.the-arrow.-left > .shaft {
  width: 0;
  background-color: var(--text-link-grey);
}

.the-arrow.-left > .shaft:before,
.the-arrow.-left > .shaft:after {
  width: 0;
  background-color: var(--text-link-grey);
}

.the-arrow.-left > .shaft:before {
  transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
  transform: rotate(0);
}

.the-arrow.-right {
  top: 3px;
}

.the-arrow.-right > .shaft {
  width: var(--shaft-width);
  transition-delay: 0.15s;
}

.the-arrow.-right > .shaft:before,
.the-arrow.-right > .shaft:after {
  width: var(--arrow-head-width);
  transition: all 0.3s;
}

.the-arrow.-right > .shaft:before {
  transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
  transform: rotate(-40deg);
}

.the-arrow > .shaft {
  background-color: var(--text-link-grey);
  display: block;
  height: var(--shaft-thickness);
  position: relative;
  transition: all 0.15s;
  transition-delay: 0;
}

.the-arrow > .shaft:before,
.the-arrow > .shaft:after {
  background-color: var(--text-link-grey);
  content: "";
  display: block;
  height: var(--arrow-head-thickness);
  position: absolute;
  top: 0;
  right: 0;
}

.the-arrow > .shaft:before {
  transform-origin: top right;
}

.the-arrow > .shaft:after {
  transform-origin: bottom right;
}

/* Animated Arrow Button Effects */
.animated-arrow:hover {
  color: var(--text-off-white);
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
  width: var(--shaft-width);
  background-color: var(--text-off-white);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before,
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  width: var(--arrow-head-width);
  transition-delay: 0.1s;
  background-color: var(--text-off-white);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
  transform: rotate(40deg);
}

.animated-arrow:hover > .the-arrow.-left > .shaft:after {
  transform: rotate(-40deg);
}

.animated-arrow:hover > .main {
  transform: translateX(var(--shaft-width) + var(--text-arrow-space));
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
  width: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right {
  transform: translateX(var(--shaft-width) + var(--text-arrow-space));
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before,
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  width: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
  transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
  transform: rotate(0);
}

.animated-arrow > .main {
  display: flex;
  align-items: center;
  transition: all 0.15s;
}

.animated-arrow > .main > .text {
  margin: 0 var(--text-arrow-space) 0 0;
  line-height: 1;
  display: inline-block;
}

.animated-arrow:hover > .main {
  transform: translateX(calc(var(--shaft-width) + var(--text-arrow-space)));
}

.animated-arrow > .main > .the-arrow {
  position: relative;
}
