.navbar {
    background-color: #333437;
    color: #fff;
    height: 70px;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 100;

    /*
    border-bottom: 1px solid #7e7e7e;
    box-shadow: 0 0 20px #000;
    */
}

.nav-container {
    height: 100%;
    max-width: 1512px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-logo,
.navbar .nav-profile {
    flex: 1;
    display: flex;
}

.navbar .nav-logo a {
    height: 100%;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    letter-spacing: -1px;
    font-family: 'Ruwudu';
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar .nav-profile {
    padding: 0px;
    justify-content: flex-end;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a:hover {
    opacity: 0.8;
}

.navbar .nav-links a,
.navbar .nav-links a:before,
.navbar .nav-links a:after {
    transition: all 0.15s ease;
}

.navbar .nav-links a:after {
    position: absolute;
    top: 30px;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: white;
    height: 1px;
}

.navbar a:hover:after {
    width: 120%;
}